
<table>
    <thead>
        <tr>
            <th>Nombre del Deporte</th>
            <th>Descripción</th>
            <th>Requisitos</th>
            <th>Ranking</th>
        </tr>
    </thead>
    <tbody>
        {{#each deportes}}
            <tr>
                <td>{{this.nombre}}</td>
                <td>{{this.descripcion}}</td>
                <td>{{this.requisitos}}</td>
                <td>{{this.ranking}}</td>
            </tr>
        {{/each}}
    </tbody>
</table>
